@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}

h2 {
  @apply font-bold lg:text-[64px] lg:leading-[77px] slg:text-[52px] md:text-[40px] text-[28px] leading-tight text-center;
}

.pry-btn {
  @apply text-white bg-wiseNestPink hover:bg-wiseNestBlueGreen;
}
.sec-btn {
  @apply text-black bg-transparent border border-black hover:border-wiseNestPink hover:text-wiseNestPink;
}

.btn-base {
  @apply h-[54px] w-[194px] flex items-center justify-center font-semibold capitalize rounded-[49px];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
